$main-color: #E91E63;
$main-color-dark: #C2185B;
$main-white: #e6e6e6;
$main-white-dark: #d9d9d9;
$font-family: 'Helvetica, Arial';

.btn-menu {
  color: $main-white;
}

#main-list-table {
  border-collapse: collapse;
}

#main-list-table > div > table > tbody > tr > td {
  word-break: break-all;
  text-align:center;
  vertical-align:middle;
  font-size: 20px;
}

#main-list-table > div > table > tbody > tr > td > div {
  display: inline;
}

#main-list-table > div > table > tbody > tr > td > p > span {
  font-size: 8px;
}

#main-list-table > div > table > tbody > tr > td > img {
  width: 45%;
}

#main-list-table > div > table {
  width: 100%;
}

@media screen and (max-width: 768px) {
  #main-list-table > div > table > tbody > tr > td > img {
    width: 90%;
  }

  #main-list-table > div > table > tbody > tr > td {
    font-size: 10px;
  }
}

/* Directives */
.favorite-pkmn-image {
  content:url(../../img/star.svg);
  width: 2em;
}

.favorite-pkmn-image-selected {
  content:url(../../img/star-selected.svg);
  width: 2em;
}

.caught-pkmn-image {
  content:url(../../img/pokeball-icon.svg);
  width: 2em;
}

.caught-pkmn-image-selected {
  content:url(../../img/pokeball-icon-selected.svg);
  width: 2em;
}
