@import 'bower_components/bootstrap/scss/bootstrap.scss';
@import 'bower_components/bootstrap/scss/_variables.scss';
@import 'bower_components/bootstrap/scss/_mixins.scss';

$main-color: #E91E63;
$main-color-dark: #C2185B;
$main-white: #e6e6e6;
$main-white-dark: #d9d9d9;
$tag-grass: #97D077;
$tag-poison: #A680B8;
$tag-bug: #67AB9F;
$tag-fire: #FF8000;
$tag-fighting: #E65C5C;
$tag-dragon: #7F628C;
$tag-water: #3399FF;
$tag-steel: #999999;
$tag-ice: #8AE6E6;
$tag-electric: #E6C35C;
$tag-normal: #FFCC99;
$tag-psychic: #FF66B3;
$tag-fairy: #A341A3;
$tag-dark: #964542;
$tag-ghost: #A680B8;
$tag-rock: #A37448;
$tag-ground: #BDA971;
$tag-flying: #D5BEED;
$font-family-head: 'pokemonHead';

/* Firefox fix */
@-moz-document url-prefix() {
  fieldset { display: table-cell; }
}

.table-responsive {
  overflow-x: auto;
}

/* Pokedex custom buttons */
.btn-pokedex {
  /* text color, background, border */
  @include button-variant($main-white, $main-color, $main-white);
}

.btn-pokedex:hover {
  /* text color, background, border */
  @include button-variant($main-white-dark, $main-color-dark, $main-white-dark);
}

.btn-pokedex:focus, .btn-pokedex.focus {
  /* text color, background, border */
  @include button-variant($main-color, $main-white, $main-color);
}

.btn-pokedex.disabled:focus, .btn-pokedex.disabled.focus, .btn-pokedex:disabled:focus {
  /* text color, background, border */
  @include button-variant($main-white-dark, $main-color-dark, $main-white-dark);
}

.btn-pokedex.disabled:hover, .btn-pokedex:disabled:hover {
  /* text color, background, border */
  @include button-variant($main-white-dark, $main-color-dark, $main-white-dark);
}

/* Nav bar custom color */
.navbar {
  background-color: $main-color;
  border-color: $main-color-dark;
  font-family: $font-family-head;
  font-size: 24px;
}

.navbar .navbar-nav > li > a {
  color: $main-white !important;
}

.navbar .navbar-nav > li > a {
  color: $main-white !important;
}

.navbar .navbar-nav > li > a:hover {
  background-color: darken($main-color, 2%);
  color: darken($main-white, 5%) !important;
}

.navbar .navbar-nav > .active > a {
  color: darken($main-white, 20%) !important;
}

.navbar .navbar-brand {
    color: $main-white;
}

/* Custom Tags */

.tag-grass {
  background-color: $tag-grass;
}

.tag-poison {
  background-color: $tag-poison;
}

.tag-bug {
  background-color: $tag-bug;
}

.tag-fire {
  background-color: $tag-fire;
}

.tag-fighting {
  background-color: $tag-fighting;
}

.tag-dragon {
  background-color: $tag-dragon;
}

.tag-water {
  background-color: $tag-water;
}

.tag-steel {
  background-color: $tag-steel;
}

.tag-ice {
  background-color: $tag-ice;
}

.tag-electric {
  background-color: $tag-electric;
}

.tag-normal {
  background-color: $tag-normal;
}

.tag-psychic {
  background-color: $tag-psychic;
}

.tag-fairy {
  background-color: $tag-fairy;
}

.tag-dark {
  background-color: $tag-dark;
}

.tag-ghost {
  background-color: $tag-ghost;
}

.tag-rock {
  background-color: $tag-rock;
}

.tag-ground {
  background-color: $tag-ground;
}

.tag-flying {
  background-color: $tag-flying;
}
